<html>
<head></head>
<body>

<div style="width:100%;background-color:whitesmoke;height:150px;padding-top:10px;font-family: Arial, Helvetica, sans-serif;">
<div style="font-style:sans-serrif;max-width:500px;margin:0px auto;margin-bottom:20px">   
    <div style="width:100%;text-align:center">
        <h5>task <br/> manager</h5>
    </div>
    <div style="padding:30px;margin-top:10px;max-width:500px;margin:0px auto;margin:bottom:10px;border-top:3px solid limegreen;font-size:14px;background-color:#fff;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
        <div>
           <div style="width:100%;"><h2 style="text-align:center;line-height:30px">User has invited you to join the team <span style="color:#aaa">DITS</span> on <span style="background-color:#F9C47E">TaskManager</span></h2></div>
            <hr/ style="border:1px solid whitesmoke;padding:0;margin:3px">
            </br>
            <p>Start collabration with sandeep yadav and others by clicking on the button below:</p>
            </br>
            <a style="background-color:limegreen;font-weight:700;font-size:18px;color:whitesmoke;cursor:pointer;padding:10px;border-radius:5px;color:white">Start Collaborating</a>
            </br></br></br>

            <b><span style="background-color:#F9C47E">TaskManager</span> makes collaboration with team members a breeze. Use this platform for:</b>
            
            <ul style="line-height:22px;font-size:12px;">
            <li>Assigning Tasks</li>
            <li>Managing Projects</li>
            <li>Tracking Time</li>
            <li>Monitoring Progress & more</li>
            </ul>

            <div style="width:100%;">
                    <div style="width:100%;padding-top:20px;padding-bottom:10px">
                        <span>Cheers,</span><br/>
                        <span style="background-color:#F9C47E">TaskManager</span><span> Team</span>
                    </div>
            </div>
        </div>

    </div>
</div>
</div>

</body>

</html>