<html>
<head></head>
<body>

<div style="font-family: Arial, Helvetica, sans-serif;max-width:500px;margin:0px auto;">      
    <div style="padding:10px;line-height:20px;text-align:justify;margin-top:10px;max-width:500px;margin:0px auto;margin:bottom:10px;border-bottom:3px solid limegreen;font-size:14px;background-color:#fff">
     
            <h2 ><span style="background-color:#F9C47E">TaskManager</span></h2>
            <span style="width:100%;font-style:italic;font-size:16px;text-align:right">The Platform Smart Teams Use To Do More</span>
            </br>
        <div style="border-top:3px solid limegreen">
            </br>
            
            <p>Hi,</p>
            <p>Welcome! This is the start of your task and project management journey with <span style="background-color:#F9C47E">TaskManager</span>, and we are glad to be in it with you.</p>
            
            <p>You've now become part of TaskManager Family where smart individuals using <span style="background-color:#F9C47E">TaskManager</span> to manage their professional and personal projects. We are excited for you to use the <span style="background-color:#F9C47E">TaskManager</span> app to manage your projects, and get more done quicker, and more efficiently than ever.</p>      
            <p>The key to success and getting the most out of <span style="background-color:#F9C47E">TaskManager</span> is consistency. So, if you use <span style="background-color:#F9C47E">TaskManager</span> for team collaboration, work assignments, time tracking, and project management, you will find keeping your work on track and meeting deadlines is easy as pie.</p>

            <b>Here is what you need to do to get started:</b>
            <ul style="line-height:25px">
            <li>Complete your Profile Setup, if you haven’t done it yet <a href="#">(Click here)</a>.</li>
            <li>Create your first <a href="#">Team</a> and <a href="#">Workspace</a>.</li>
            <li><a href="#">Send an invite</a> to your team members.</li>
            </ul>

            </br></br>
            <div style="text-align:center"><a href="#" style="background-color:limegreen;font-weight:700;font-size:18px;color:whitesmoke;cursor:pointer;padding:10px;border-radius:5px;">Start Creating Unlimited Tasks!</a></div>
            </br></br>
            
            <p><span style="background-color:#F9C47E">TaskManager</span> is going to help you save wasted hours by making sure nothing slips through the cracks, from the smallest details in finance to the largest task at hand.</p>
            <p>Now, we'll let you get to it!</p>
           
            <span>See you soon,</br>Team <span style="background-color:#F9C47E">TaskManager!</span></span></br>

            <span style="font-style:italic"><strong>P.S.</strong> We are just a chat away if you have anything at all that bothers you, or that you need more help with. We hope you understand that because you are important to us we are always at your service.  </span>
           
        </div>
    </div>
</div>

</body>
</html>