<html>
<head></head>
<body>

<div style="width:100%;background-color:whitesmoke;height:150px;padding-top:10px;font-family: Arial, Helvetica, sans-serif;">
<div style="font-style:sans-serrif;max-width:500px;margin:0px auto;">   
    <div style="width:100%;text-align:center">
        <h5>task <br/> manager</h5>
    </div>
    <div style="padding:50px;padding-top:20px;max-width:500px;margin:bottom:10px;border-top:3px solid limegreen;font-size:14px;background-color:#fff;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
        
           <div style="width:100%;"><h2 style="text-align:center">Your password has been changed</h2></div>
            <hr/ style="border:1px solid whitesmoke;padding:0;margin:3px">
            <h3>Hi Userabc,</h3>
            <p>You password is changed</p>
            <p>If you did not request this, please reset your password immediately or contact us at <a href="#" style="color:limegreen">support@taskmanager.com</a> for further assistance.</p>
 
             <div style="width:100%;">
                    <div style="width:100%;padding-top:20px;padding-bottom:10px">
                        <span>Cheers,</span><br/>
                        <span style="background-color:#F9C47E">TaskManager</span><span> Team</span>
                    </div>
            </div>
       
    </div>
</div>
</div>

</body>
</html>