{% load i18n %}{% load static %}
<!DOCTYPE html> 
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>HR Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">

</head>

<body>
    <div id="loading">
        <img id="loading-image" src="https://i.pinimg.com/originals/ac/14/0a/ac140a627af854f14c7f653efd7d53ae.gif"
            alt="Loading..." />
    </div>
    <div class="container mt-5">
        <div class="screen">
            <div class="screen__content">
                {% if messages %}
                    <ul class="messages list-unstyled" id="msg_display">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }} font-weight-bold p-3 rounded" {% endif %}>
                                <button type="button" class="close mr-3 mb-2 text-danger font-weight-bold" onclick="dismissFunction()">&times;</button>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form method="post" class="login">
                    {% csrf_token %}
                    <h4 class="text-center header_text">Forgot Password</h2>
                    <h6 class="text-center header_text">Enter your registered email to reset your password.</h6>
                    <div class="login__field">
                        <i class="login__icon fa fa-envelope"></i>
                            <input class="login__input" type="email" placeholder="Email-ID" name="email" required autofocus>
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Request OTP</span>
                        <i class="button__icon fa fa-arrow-right"></i>
                    </button>
                    <!-- <input class="submit btn btn-warning btn-sm w-100 mt-3 font-weight-bold rounded" type="submit" value=""> -->
                </form>
                <div class="social-login">
                    <div class="social-icons">
                        <a>Already have an account? </a><a href="{% url 'login' %}" class="social-login__icon">Sign In.</a>
                    </div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>

</body>
<script>
    $(window).on('load', function () {
        $('#loading').delay(500).fadeOut();
    })
</script>
<script>
    function dismissFunction() {
        document.getElementById("msg_display").style.display = "none";
    }
</script>

</html>