{% extends 'dashboard/base.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!------------------------ multiple tabs with their multiple panels to manage all the data in a single page  -->
    <div class="row tab">
        <button class="tablinks" onclick="opennavbartabs(event, 'Dashboard')" id="defaultOpen">Dashboard</button>
        <button class="tablinks" onclick="opennavbartabs(event, 'Projects')">Projects</button>
        <button class="tablinks" onclick="opennavbartabs(event, 'Boards')">Boards</button>
        <button class="tablinks" onclick="opennavbartabs(event, 'Tasks')">Tasks</button>
        <button class="tablinks" onclick="opennavbartabs(event, 'Meetings')">Meetings</button>
        <button class="tablinks" onclick="opennavbartabs(event, 'Issues')">Issues</button>
        <button class="tablinks" onclick="opennavbartabs(event, 'Settings')">Settings</button>
    </div>

    <div id="Dashboard" class="tabcontent">
        <!-- dashboard section -->
        <div class="container-fluid">
            <br>
            {% if messages %}
            <ul class="messages list-unstyled">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-center font-weight-bold p-2" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <!-- title -->
                <div class="col-md-9">
                    <b>Workspaces</b> <span>({{len_work}})</span>
                </div>
                <!-- searchbox -->
                <div class="col-md-3">
                    <input type="text" placeholder="Search Workspaces" class="form-control">
                </div>
            </div>
            <!-- content section -->
            <div class="row">
                <div class="col-lg-12" style="padding-top: 20px;">
                    <div class="row">
                        <!-- add workspace box 1 -->
                        <div class="wrapper">
                            <a class="box" href="#" data-toggle="modal" data-target="#createworkspace">
                                <div class="box_insidediv">
                                    <i class="fa fa-plus-circle fa-lg"></i><br>
                                    <b>Create New Workspace</b>
                                </div>
                            </a>
                        </div>
                        <!-- box 2 -->
                        {% for space in workspace %}
                            <div class="wrapper">
                                <a class="box" href="#">
                                    <div class="box_insidediv">
                                        <div class="col-lg-12">
                                            <span class="user_txticon text-capitalize">{{space.name|make_list|first}}</span><br>
                                            <p class="text-capitalize">{{space.name}}</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span>Tasks</span><br><b>{{workspace_data.task_count}}</b>
                                            </div>
                                            <div class="col-6">
                                                <span>Issues</span><br><b>{{workspace_data.issue_count}}</b>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row boxinside_div_footer">
                                            <small>Members:</small> &nbsp;
                                            <span class="member_circle text-danger">C</span>
                                            <span class="member_circle text-dark">N</span>
                                            <span class="member_circle">M</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Projects" class="tabcontent">
        <h3>Projects</h3>
    </div>

    <div id="Boards" class="tabcontent">
        <h3>Boards</h3>
    </div>

    <div id="Tasks" class="tabcontent">
        <table class="table table-striped table-condensed">
            <thead>
                <tr class="text-uppercase text-center">
                    <th>| ID</th>
                    <th>| Task</th>
                    <th>| Status</th>
                    <!-- <th>| Planned Start/End</th> -->
                    <th>| Planned Start/End</th>
                    <!-- <th>| Planned End</th> -->
                    <th>| Priority</th>
                    <th>| Work space</th>
                    <!-- <th>| Progress</th> -->
                    <th>| Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr class="h6 text-capitalize text-center">
                    <td class="">{{task.id}}</td>
                    <td>{{task.title}}</td>
                    <td>
                        <input type='button' value="{{task.get_task_status_display}}" class="btn btn-sm w-75 font-weight-bold {% if task.task_status == '1' %} btn-danger {% elif task.task_status == '2' %} btn-warning text-dark {% else %} btn-info {% endif %}">
                    </td>
                    <td>{% if task.planned_start_date %} {{task.planned_start_date|date:'d-m-Y'}}
                        {% else %} Start {% endif %} - {% if task.planned_end_date %}
                        {{task.planned_end_date|date:'d-m-Y'}} {% else %} End {% endif %}
                    </td>
                    <!-- <td></td> -->
                    <td>
                        <select name="priority" id="priority_{{task.id}}" class="form-control"
                            onchange="priority_status_change({{task.id}})">
                            <option value="4" {% if task.priority == '4' %}selected{% endif %}>Critical</option>
                            <option value="1" {% if task.priority == '1' %}selected{% endif %}>High</option>
                            <option value="2" {% if task.priority == '2' %}selected{% endif %}>Medium</option>
                            <option value="3" {% if task.priority == '3' %}selected{% endif %}>Low</option>
                        </select>
                    </td>
                    <td>{{task.workspace.name}}</td>
                    <!-- <td>In Progress</td> -->
                    <td>
                        <!-- <button type="button" id="{{ task.id }}" class="btn btn-primary btn-sm detail_task"
											data-toggle="modal" data-target="#taskaction_modalbox">Detail
										</button> -->
                        <a href="{% url 'task-edit' task.id %}" class="btn btn-primary btn-sm detail_task w-50">Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="Meetings" class="tabcontent">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group" role="group" aria-label="Meetingsettings">
                    <button type="button" class="btn btn-default bg-gradient-primary text-white"><i
                            class="fa fa-cubes"></i>GroupBy</button>
                    <button type="button" class="btn btn-default bg-gradient-primary text-white"><i
                            class="fa fa-sort-amount-asc"></i>SortBy</button>
                    <button type="button" class="btn btn-default bg-gradient-primary text-white"><i
                            class="fa fa-calendar"></i> Date: All</button>
                    <button type="button" class="btn btn-default bg-gradient-primary text-white"><i
                            class="fa fa-bars"></i> Show: All</button>
                    <button type="button" class="btn btn-default bg-gradient-primary text-white"><i
                            class="fa fa-filter"></i> Filters</button>
                    <button type="button" class="btn btn-default bg-gradient-primary text-white"><i
                            class="fa fa-exchange"></i></button>
                </div>
                <div class="btn-group" role="group" aria-label="taskviewmode">
                    <button type="button" class="btn btn-default bg-gradient-primary text-white">List</button>
                    <button type="button" class="btn btn-default bg-gradient-primary text-white">Grid</button>
                    <button type="button" class="btn btn-default bg-gradient-primary text-white">Calender</button>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-striped table-condensed">
            <tr>
                <th>ID</th>
                <th colspan="2">| Title</th>
                <th>| Status</th>
                <th colspan="2">| Task
                <th>
                <th>| Date</th>
                <th>| Time</th>
                <th>| Location</th>
            </tr>
            <!-- <tr>
                <td>00005</td>
                <td colspan="2">SEO of 6iJournal</td>
                <td><input type="button" value="Not Started" class="btn btn-danger btn-sm"></td>
                <td colspan="3">Design DITS </td>
                <td><a href="#" name="daterangepicker">Select Date</a></td>
                <td>01:12 am</td>
                <td>Location</td>
            </tr> -->
        </table>
    </div>

    <div id="Issues" class="tabcontent">
        <table class="table table-striped table-condensed">
            <thead>
                <tr class="text-uppercase text-center">
                    <th>| ID</th>
                    <th>| Issue</th>
                    <th>| Status</th>
                    <!-- <th>| Planned Start/End</th> -->
                    <th>| Planned Start/End</th>
                    <!-- <th>| Planned End</th> -->
                    <th>| Priority</th>
                    <th>| Work space</th>
                    <!-- <th>| Progress</th> -->
                    <th>| Action</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                <tr class="h6 text-capitalize text-center">
                    <td class="">{{issue.id}}</td>
                    <td>{{issue.title}}</td>
                    <td>
                        <input type='button' value="{{issue.get_issue_status_display}}" class="btn btn-sm w-75 font-weight-bold {% if issue.issue_status == '1' %} btn-danger {% elif issue.issue_status == '2' %} btn-warning text-dark {% else %} btn-info {% endif %}">
                    </td>
                    <td>{% if issue.planned_start_date %} {{issue.planned_start_date|date:'d-m-Y'}}
                        {% else %} Start {% endif %} - {% if issue.planned_end_date %}
                        {{issue.planned_end_date|date:'d-m-Y'}} {% else %} End {% endif %}
                    </td>
                    <!-- <td></td> -->
                    <td>
                        <select name="priority" id="modify_{{issue.id}}" class="form-control"
                            onchange="priority_status_modify({{issue.id}})">
                            <option value="4" {% if issue.priority == '4' %}selected{% endif %}>Critical</option>
                            <option value="1" {% if issue.priority == '1' %}selected{% endif %}>High</option>
                            <option value="2" {% if issue.priority == '2' %}selected{% endif %}>Medium</option>
                            <option value="3" {% if issue.priority == '3' %}selected{% endif %}>Low</option>
                        </select>
                    </td>
                    <td>{{issue.workspace.name}}</td>
                    <!-- <td>In Progress</td> -->
                    <td>
                        <!-- <button type="button" id="{{ issue.id }}" class="btn btn-primary btn-sm detail_task"
											data-toggle="modal" data-target="#taskaction_modalbox">Detail
										</button> -->
                        <a href="{% url 'issue-edit' issue.id %}" class="btn btn-primary btn-sm detail_task w-50">Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="Settings" class="tabcontent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="border-bottom: 1px solid #ccc;">
                    <h4>Workspace Settings > <span style="color: #000;"><label for="">User
                                Management</label></span></h3>
                </div>
                <div class="settingtab">
                    <button class="settingtablinks" onclick="opensettingtab_section(event, 'general_info')">General
                        information</button>
                    <button class="settingtablinks active" onclick="opensettingtab_section(event, 'user_management')"
                        id="defaultOpen">User
                        Management</button>
                    <button class="settingtablinks" onclick="opensettingtab_section(event, 'roles_permissions')">Roles &
                        Permissions</button>
                </div>
                <!-- General info section -->
                <div id="general_info" class="settingtabcontent" style="display: none;">
                    <br>

                    <div class="row">
                        <div style="width:30%;padding: 10px;">
                            <img src="" alt="" style="width: 80px;height:80px;"><br>
                            <a href="#"><i class="fa fa-cloud-upload"></i> Upload Photo</a>
                        </div>
                        <div style="width:70%;padding: 10px;">
                            <a href="#" data-target="#editworkspace" data-toggle="modal"><b>Workspace
                                    Name <i class="fa fa-pencil-alt"></i></b></a><br>
                            <small>https://DITS Management.com</small><br>
                            <input type="button" class="btn btn-primary" value="Delete Workspace">
                        </div>
                    </div>
                </div>

                <!-- User management section -->
                <div id="user_management" class="settingtabcontent">
                    <br>
                    <h4>Add Team Members to CRM</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="email" name="member_email" class="form-control" placeholder="Enter member email..">
                        <br>
                        <div class="row">
                            <div class="col-lg-9">
                                <span style="background-color: whitesmoke;padding:8px;font-size: 12px;border-radius:3px">
                                    <i class="fa fa-fw fa-info-circle"></i>
                                    &nbsp; Adding a workspace member will give access to all projects within
                                    this workspace.
                                </span>
                            </div>
                            <div class="col-lg-3 pull-right">
                                <input type="submit" class="btn btn-secondary btn-sm pull-right" value="Add to Workspace">
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <div class="col-lg-4">
                            <select name=" " id="" class="form-control">
                                <option value="allusers">All Users</option>
                                <option value="admin">Admin</option>
                                <option value="member">Member</option>
                                <option value="limited member">Limited Member</option>
                                <option value="disableduser">Disabled User</option>
                                <option value="enableduser">Enabled User</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Sandeep yadav</b><br>
                            <small>sandeepyadavjnp01@gmail.com</small>
                        </div>
                        <div class="col-lg-4 text-right">
                            <b>Team Owner</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Sandeep yadav</b><br>
                            <small>sandeepyadavjnp01@gmail.com</small>
                        </div>
                        <div class="col-lg-4 text-right">
                            <br>
                            <b>Team Admin</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Sandeep yadav</b><br>
                            <small>sandeepyadavjnp01@gmail.com</small>
                        </div>
                        <div class="col-lg-4 text-right">
                            <select name="" id="" class="form-control">
                                <option value="Admin">Admin</option>
                                <option value="Admin">Member</option>
                                <option value="Admin">Limited Member</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Roles permissions section -->
                <div id="roles_permissions" class="settingtabcontent" style="display: none;">
                    <br>
                    <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3">
                        <select name="" id="" class="form-control">
                            <option value="Admin">Admin</option>
                            <option value="Member">Member</option>
                            <option value="LimitedMember">LimitedMember</option>
                        </select>
                    </div>
                    <br><br>
                    <!-- accordion section -->
                    <div id="accordion">
                        <!-- Workspaces -->
                        <div class="card">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <div class="card-header bg-ard" id="headingOne">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-border-all"></i></span> Workspaces
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><span>Workspace Setting</span> <span class="option_right">Allow</span>
                                            <ul>
                                                <li><span>General Information </span> <span
                                                        class="option_right">Allow</span>
                                                    <ul>
                                                        <li><span>Workspace Image</span> <span class="option_right">Add
                                                                Delete</span>
                                                        </li>
                                                        <li><span>Delete Workspace</span> <span
                                                                class="option_right">Allow</span></li>
                                                        <li><span>Workspace Name</span> <span
                                                                class="option_right">Edit</span></li>
                                                        <li><span>Workspce Url</span> <span
                                                                class="option_right">Edit</span></li>
                                                    </ul>
                                                </li>

                                                <li><span>Delete Workspace</span> <span
                                                        class="option_right">Allow</span>
                                                    <ul>
                                                        <li><span>Add Members to Workspace</span> <span
                                                                class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Remove Members from Workspace</span>
                                                            <span class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Enable Members from Workspace</span>
                                                            <span class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Disable Members in Workspace</span>
                                                            <span class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Update Role in Workspace</span> <span
                                                                class="option_right">Allow</span>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>Roles & Permission <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Custom Role <a href="#">Add</a> Edit Delete
                                                        </li>
                                                        <li>Rename Custom Role <span class="option_right">Allow</span>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>Task Status <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Create/Rename Template <span
                                                                class="option_right">Allow</span></li>
                                                        <li>Set Template as Workspace Default <span
                                                                class="option_right">Allow</span></li>
                                                        <li>Save as New Template <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Change Default Staus <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Change Done Status <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Delete Saved Template <span
                                                                class="option_right">Allow</span></li>
                                                        <li><span class="col-6">Template
                                                                Status</span><span class="option_right">Add Edit
                                                                Delete</span></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks -->
                        <div class="card">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <div class="card-header" id="headingTwo">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-tasks"></i></span> Tasks
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Task Details <span class="option_right">Allow</span>
                                            <ul>
                                                <li>Task Project <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Planned start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Actual start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Description <span class="option_right">Edit</span></li>
                                                <li>ToDo List <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Task Effort <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Task Estimation <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Repeat Task <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Task Assignee <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Add Custom Fields <span class="option_right">Add
                                                        Edit Delete</span></li>
                                                <li>Task Documents <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Delete Document <span class="option_right">Allow</span>
                                                        <li>Open Folder <span class="option_right">Allow</span>
                                                        <li>Rename Folder <span class="option_right">Allow</span>
                                                        <li>View Document <span class="option_right">Allow</span>
                                                        <li>Add Folder<span class="option_right">Allow</span>
                                                        <li>Upload Document <span class="option_right">Allow</span>
                                                        <li>Download Document <span class="option_right">Edit</span>
                                                    </ul>
                                                </li>
                                                <li>Task Comments <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Task Attachments <span class="option_right">Add
                                                                Delete</span>
                                                        </li>
                                                        <li>Add Comments <span class="option_right">Add
                                                                Edit Delete</span></li>
                                                        <li>Convert Comment to Task <span
                                                                class="option_right">Allow</span></li>
                                                        <li>Show Receipt <span class="option_right">Allow</span></li>
                                                        <li>Clear all Replies <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Clear Reply <span class="option_right">Allow</span></li>
                                                        <li>View Attachment <span class="option_right">Allow</span></li>
                                                        <li>Download Attachment <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Reply Later <span class="option_right">Allow</span></li>
                                                        <li>Reply <span class="option_right">Allow</span></li>
                                                    </ul>
                                                </li>

                                                <li>Task Name <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Priority <span class="option_right">Edit</span>
                                                </li>
                                                <li>Create repeat task occurrences <span
                                                        class="option_right">Allow</span></li>
                                                <li>Task Staus <span class="option_right">Edit</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Create Task <span class="option_right">Allow</span>
                                        <li>View all Tasks <span class="option_right">Allow</span>
                                        <li>Import Tasks <span class="option_right">Allow</span>
                                        <li>Export Tasks <span class="option_right">Allow</span>
                                        <li>Archive Tasks <span class="option_right">Allow</span>
                                        <li>Unarchived Tasks <span class="option_right">Allow</span>
                                        <li>Delete Tasks <span class="option_right">Allow</span>
                                        <li>Copy Task within Workspace <span class="option_right">Allow</span>
                                        <li>Set color <span class="option_right">Allow</span></li>
                                        <li>Create public link of task <span class="option_right">Allow</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Meetings -->
                        <div class="card">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <div class="card-header" id="headingThree">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-calendar"></i></span> Meetings
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Meeting Details <span class="option_right">Allow</span>
                                            <ul>
                                                <li>Meeting Agenda <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting discussion notes <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Meeting followyp actions <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting key decisions <span class="option_right">Add
                                                        Edit Delete</span></li>
                                                <li>Repeat Meeting <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Meeting task <span class="option_right">Edit</span>
                                                </li>
                                                <li>Meeting duration <span class="option_right">Edit</span></li>
                                                <li>Meeting location <span class="option_right">Edit</span></li>
                                                <li>Meeting attendee <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Add custom fields<span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting name<span class="option_right">Edit</span>
                                                </li>
                                                <li>meeting submit for review<span class="option_right">Allow</span>
                                                </li>
                                                <li>Publish meeting<span class="option_right">Allow</span></li>
                                                <li>Create repeat meeting occurrences<span
                                                        class="option_right">Allow</span></li>
                                                <li>Meeting time<span class="option_right">Edit</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Create meeting<span class="option_right">Allow</span></li>
                                        <li>View all meetings<span class="option_right">Allow</span>
                                        </li>
                                        <li>Import meeting<span class="option_right">Allow</span></li>
                                        <li>Export meeting<span class="option_right">Allow</span></li>
                                        <li>Archive meeting<span class="option_right">Allow</span></li>
                                        <li>Unarchive meeting<span class="option_right">Allow</span>
                                        </li>
                                        <li>Delete meeting<span class="option_right">Allow</span></li>
                                        <li>Cancel meeting<span class="option_right">Allow</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Issues -->
                        <div class="card">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                <div class="card-header" id="headingThree">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-receipt"></i></span> Issues
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Issue Details <span class="option_right">Allow</span>
                                            <ul>
                                                <li>Issue task <span class="option_right">Add
                                                        Edit</span></li>
                                                <li>Issue planned start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Issue actual start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Issue Description <span class="option_right">Edit</span></li>
                                                <li>Issue Type <span class="option_right">Edit</span>
                                                </li>
                                                <li>Issue assignee <span class="option_right">Add
                                                        Delete</span></li>
                                        </li>
                                        <li>Add Custom fields <span class="option_right">Add Edit
                                                Delete</span></li>
                                        </li>

                                        <li>Issue comments/updates <span class="option_right">Allow</span></li>
                                        <ul>
                                            <li>Issue Attachment <span class="option_right">Add
                                                    Delete</span></li>
                                            <li>Add comments<span class="option_right">Add Edit
                                                    Delete</span></li>
                                            </li>
                                            <li>COnvert comment to task<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Show receipt<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Clear all replies<span class="option_right">Allow</span>
                                            </li>
                                            </li>
                                            <li>Clear reply<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>View attachment<span class="option_right">Allow</span>
                                            </li>
                                            </li>
                                            <li>Download attachment<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Reply later<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Reply<span class="option_right">Allow</span></li>
                                            </li>
                                        </ul>
                                        </li>
                                        <li>Issue Documents <span class="option_right">Allow</span></li>
                                        <ul>
                                            <li>Delete document<span class="option_right">Allow</span>
                                            </li>
                                            <li>Open folder<span class="option_right">Allow</span></li>
                                            <li>Rename folder<span class="option_right">Allow</span>
                                            </li>
                                            <li>View document<span class="option_right">Allow</span>
                                            </li>
                                            <li>Add folder<span class="option_right">Allow</span></li>
                                            <li>Upload document<span class="option_right">Allow</span>
                                            </li>
                                            <li>Download document<span class="option_right">Allow</span>
                                            </li>
                                        </ul>
                                        </li>
                                        <li>Issue name <span class="option_right">Edit</span></li>
                                        <li>Issue status <span class="option_right">Edit</span></li>
                                        <li>Issue priority <span class="option_right">Edit</span></li>
                                        <li>Issue severity <span class="option_right">Edit</span></li>
                                    </ul>
                                    </li>

                                    <li>Create issue <span class="option_right">Allow</span></li>
                                    <li>View all issues <span class="option_right">Allow</span></li>
                                    <li>Import issues <span class="option_right">Allow</span></li>
                                    <li>Export issues <span class="option_right">Allow</span></li>
                                    <li>Archive issues <span class="option_right">Allow</span></li>
                                    <li>Unarchive issues <span class="option_right">Allow</span></li>
                                    <li>Delete issues <span class="option_right">Allow</span></li>
                                    <li>Set color <span class="option_right">Allow</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Timesheet -->
                        <div class="card">
                            <button class="btn btn-link collapsed" style="text-decoration-style: none;"
                                data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                <div class="card-header" id="headingThree">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-clock"></i></span> Timesheet
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Add task <span class="option_right">Allow</span></li>
                                        <li>Add time entry <span class="option_right">Allow</span></li>
                                        <li>Delete time entry <span class="option_right">Allow</span>
                                        </li>
                                        <li>Delete timesheet <span class="option_right">Allow</span>
                                        </li>
                                        <li>Sunmit timesheet for approval <span class="option_right">Allow</span></li>
                                        <li>send timesheet <span class="option_right">Allow</span></li>
                                        <li>Add notes <span class="option_right">Allow</span></li>
                                        <li>Accept timesheet <span class="option_right">Allow</span>
                                        </li>
                                        <li>Reject timesheet <span class="option_right">Allow</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}