{% extends 'dashboard/base.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!------------------------ multiple tabs with their multiple panels to manage all the data in a single page  -->
    <div class="row tab">
        <button class="tablinks" onclick="opennavbartabs(event, 'Dashboard')" id="defaultOpen">Dashboard</button>
        <button class="tablinks" onclick="opennavbartabs(event, 'Settings')">Settings</button>
    </div>

    <div id="Dashboard" class="tabcontent">
        <!-- dashboard section -->
        <div class="container-fluid">
            
            {% if messages %}
            <ul class="messages list-unstyled">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-center font-weight-bold p-2" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}

            <div class="row">
                <!-- title -->
                <div class="col-lg-9 col-md-6">
                    <b>Workspaces</b> <span>({{len_work}})</span>
                </div>
                <!-- searchbox -->
                <div class="col-lg-3 col-md-6">
                    <input type="text" placeholder="Search Workspaces" class="form-control">
                </div>
            </div>
            <!-- content section -->

                <div class="row" style="padding-top: 20px;">
                    <div class="col-lg-12">
                       <div class="row">
                        <!-- add workspace box 1 -->
                        <div class="wrapper">
                            <a class="box" href="#" data-toggle="modal" data-target="#createworkspace">
                                <div class="box_insidediv" id="addworkspace">
                                    <i class="fa fa-plus-circle fa-lg" style="font-size:50px"></i><br>
                                    <div class="pt-3"><b>Create New Workspace</b></div>
                                </div>
                            </a>
                        </div>
                        <!-- box n -->
                        {% for space in workspace %}
                            <div class="wrapper">
                                <a class="box" href="/workspace/{{space.slug}}">
                                    <div class="box_insidediv">
                                        <div class="col-lg-12">
                                            <span class="user_txticon text-capitalize">{{space.name|make_list|first}}</span><br>
                                            <p class="text-capitalize font-weight-bold">{{space.name}}</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span>Tasks</span><br><span class="text-warning font-weight-bold">{{space.task_set.count}}</span>
                                            </div>
                                            <div class="col-6">
                                                <span>Issues</span><br><span class="text-danger font-weight-bold">{{space.issue_set.count}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="text-capitalize">Team</span><br><b>{% if space.team %}{{space.team.name}}{% else %}NP{% endif %}</b>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- <p>{{space.task_set.all}}</p> -->
                                        <div class="row boxinside_div_footer">
                                            <small>Members:</small> &nbsp;
                                            {% for name in space.task_set.all %}
                                                <span class="member_circle text-capitalize">{{name.assigned_to.name|first}}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                       </div>
                    </div>
                </div>
          

        </div>
    </div>

    <div id="Settings" class="tabcontent">
        <h3>Settings</h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="border-bottom: 1px solid #ccc;">
                    <h5>Workspace Settings > <span style="color: #000;"><label for="">User Management</label></span></h5>
                </div>
                <div class="settingtab">
                    <button class="settingtablinks active" onclick="opensettingtab_section(event, 'general_info')">General Information</button>
                    <button class="settingtablinks" onclick="opensettingtab_section(event, 'user_management')"
                        id="defaultOpen">User
                        Management</button>
                    <button class="settingtablinks" onclick="opensettingtab_section(event, 'roles_permissions')">Roles &
                        Permissions</button>
                </div>
                <!-- General info section -->
                <div id="general_info" class="settingtabcontent" style="display: block;">
                    <br>

                    <div class="row">
                        <div style="width:30%;padding: 10px;">
                            <img src="" alt="" style="width: 80px;height:80px;"><br>
                            <a href="#"><i class="fa fa-cloud-upload"></i> Upload Photo</a>
                        </div>
                        <div style="width:70%;padding: 10px;">
                            <a href="#" data-target="#editworkspace" data-toggle="modal"><b>Workspace
                                    Name <i class="fa fa-pencil-alt"></i></b></a><br>
                            <small>https://DITS Management.com</small><br>
                            <input type="button" class="btn btn-primary" value="Delete Workspace">
                        </div>
                    </div>
                </div>

                <!-- User management section -->
                <div id="user_management" class="settingtabcontent">
                    <br>
                    <h4>Invite Team Members to "TeamName"</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                         <div class="input-group">
                          <input type="email" name="member_email" class="form-control" placeholder="Enter email adddress and press Enter or click the + button to add">
                        <div class="input-group-addon"><button class="btn btn-block font-weight-bold"><i class="fa fa-plus-circle fa-lg text-success" style="font-size:35px"></i></button></div>
                        </div></hr>

                        

                        <div class="row">
                            <div class="col-lg-12">
                            <small>Select a workspace</small>
                        <div class="input-group">
                        <select class="form-control">
                        <option>Workspace1</option>
                        <option>Workspace2</option>
                        <option>Workspace3</option>
                        </select>
                        <div class="input-group-addon">
                            <input type="submit" class="btn btn-secondary btn-Disabled pull-right" value="Send Invite">
                        </div>
                            </div>
                        </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <div class="col-lg-4">
                            <select name=" " id="" class="form-control">
                                <option value="allusers">All Users</option>
                                <option value="admin">Admin</option>
                                <option value="member">Member</option>
                                <option value="limited member">Limited Member</option>
                                <option value="disableduser">Disabled User</option>
                                <option value="enableduser">Enabled User</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Sandeep yadav</b><br>
                            <small>sandeepyadavjnp01@gmail.com</small>
                        </div>
                        <div class="col-lg-4 text-right">
                            <b>Team Owner</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Sandeep yadav</b><br>
                            <small>sandeepyadavjnp01@gmail.com</small>
                        </div>
                        <div class="col-lg-4 text-right">
                            <br>
                            <b>Team Admin</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Sandeep yadav</b><br>
                            <small>sandeepyadavjnp01@gmail.com</small>
                        </div>
                        <div class="col-lg-4 text-right">
                            <select name="" id="" class="form-control">
                                <option value="Admin">Admin</option>
                                <option value="Admin">Member</option>
                                <option value="Admin">Limited Member</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Roles permissions section -->
                <div id="roles_permissions" class="settingtabcontent" style="display: none;">
                    <br>
                    <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3">
                        <select name="" id="" class="form-control">
                            <option value="Admin">Admin</option>
                            <option value="Member">Member</option>
                            <option value="LimitedMember">LimitedMember</option>
                        </select>
                    </div>
                    <br><br>
                    <!-- accordion section -->
                    <div id="accordion">
                        <!-- Workspaces -->
                        <div class="card">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <div class="card-header bg-ard" id="headingOne">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-border-all"></i></span> Workspaces
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><span>Workspace Setting</span> <span class="option_right">Allow</span>
                                            <ul>
                                                <li><span>General Information </span> <span
                                                        class="option_right">Allow</span>
                                                    <ul>
                                                        <li><span>Workspace Image</span> <span class="option_right">Add
                                                                Delete</span>
                                                        </li>
                                                        <li><span>Delete Workspace</span> <span
                                                                class="option_right">Allow</span></li>
                                                        <li><span>Workspace Name</span> <span
                                                                class="option_right">Edit</span></li>
                                                        <li><span>Workspce Url</span> <span
                                                                class="option_right">Edit</span></li>
                                                    </ul>
                                                </li>

                                                <li><span>Delete Workspace</span> <span
                                                        class="option_right">Allow</span>
                                                    <ul>
                                                        <li><span>Add Members to Workspace</span> <span
                                                                class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Remove Members from Workspace</span>
                                                            <span class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Enable Members from Workspace</span>
                                                            <span class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Disable Members in Workspace</span>
                                                            <span class="option_right">Allow</span>
                                                        </li>
                                                        <li><span>Update Role in Workspace</span> <span
                                                                class="option_right">Allow</span>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>Roles & Permission <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Custom Role <a href="#">Add</a> Edit Delete
                                                        </li>
                                                        <li>Rename Custom Role <span class="option_right">Allow</span>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>Task Status <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Create/Rename Template <span
                                                                class="option_right">Allow</span></li>
                                                        <li>Set Template as Workspace Default <span
                                                                class="option_right">Allow</span></li>
                                                        <li>Save as New Template <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Change Default Staus <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Change Done Status <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Delete Saved Template <span
                                                                class="option_right">Allow</span></li>
                                                        <li><span class="col-6">Template
                                                                Status</span><span class="option_right">Add Edit
                                                                Delete</span></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks -->
                        <div class="card">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <div class="card-header" id="headingTwo">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-tasks"></i></span> Tasks
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Task Details <span class="option_right">Allow</span>
                                            <ul>
                                                <li>Task Project <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Planned start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Actual start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Description <span class="option_right">Edit</span></li>
                                                <li>ToDo List <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Task Effort <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Task Estimation <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Repeat Task <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Task Assignee <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Add Custom Fields <span class="option_right">Add
                                                        Edit Delete</span></li>
                                                <li>Task Documents <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Delete Document <span class="option_right">Allow</span>
                                                        <li>Open Folder <span class="option_right">Allow</span>
                                                        <li>Rename Folder <span class="option_right">Allow</span>
                                                        <li>View Document <span class="option_right">Allow</span>
                                                        <li>Add Folder<span class="option_right">Allow</span>
                                                        <li>Upload Document <span class="option_right">Allow</span>
                                                        <li>Download Document <span class="option_right">Edit</span>
                                                    </ul>
                                                </li>
                                                <li>Task Comments <span class="option_right">Allow</span>
                                                    <ul>
                                                        <li>Task Attachments <span class="option_right">Add
                                                                Delete</span>
                                                        </li>
                                                        <li>Add Comments <span class="option_right">Add
                                                                Edit Delete</span></li>
                                                        <li>Convert Comment to Task <span
                                                                class="option_right">Allow</span></li>
                                                        <li>Show Receipt <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Clear all Replies <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Clear Reply <span class="option_right">Allow</span></li>
                                                        <li>View Attachment <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Download Attachment <span class="option_right">Allow</span>
                                                        </li>
                                                        <li>Reply Later <span class="option_right">Allow</span></li>
                                                        <li>Reply <span class="option_right">Allow</span></li>
                                                    </ul>
                                                </li>

                                                <li>Task Name <span class="option_right">Edit</span>
                                                </li>
                                                <li>Task Priority <span class="option_right">Edit</span>
                                                </li>
                                                <li>Create repeat task occurrences <span
                                                        class="option_right">Allow</span></li>
                                                <li>Task Staus <span class="option_right">Edit</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Create Task <span class="option_right">Allow</span>
                                        <li>View all Tasks <span class="option_right">Allow</span>
                                        <li>Import Tasks <span class="option_right">Allow</span>
                                        <li>Export Tasks <span class="option_right">Allow</span>
                                        <li>Archive Tasks <span class="option_right">Allow</span>
                                        <li>Unarchived Tasks <span class="option_right">Allow</span>
                                        <li>Delete Tasks <span class="option_right">Allow</span>
                                        <li>Copy Task within Workspace <span class="option_right">Allow</span>
                                        <li>Set color <span class="option_right">Allow</span></li>
                                        <li>Create public link of task <span class="option_right">Allow</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Meetings -->
                        <div class="card">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <div class="card-header" id="headingThree">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-calendar"></i></span> Meetings
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Meeting Details <span class="option_right">Allow</span>
                                            <ul>
                                                <li>Meeting Agenda <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting discussion notes <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Meeting followyp actions <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting key decisions <span class="option_right">Add
                                                        Edit Delete</span></li>
                                                <li>Repeat Meeting <span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Meeting task <span class="option_right">Edit</span>
                                                </li>
                                                <li>Meeting duration <span class="option_right">Edit</span></li>
                                                <li>Meeting location <span class="option_right">Edit</span></li>
                                                <li>Meeting attendee <span class="option_right">Add
                                                        Delete</span></li>
                                                <li>Add custom fields<span class="option_right">Add Edit
                                                        Delete</span></li>
                                                <li>Meeting name<span class="option_right">Edit</span>
                                                </li>
                                                <li>meeting submit for review<span class="option_right">Allow</span>
                                                </li>
                                                <li>Publish meeting<span class="option_right">Allow</span></li>
                                                <li>Create repeat meeting occurrences<span
                                                        class="option_right">Allow</span></li>
                                                <li>Meeting time<span class="option_right">Edit</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Create meeting<span class="option_right">Allow</span></li>
                                        <li>View all meetings<span class="option_right">Allow</span>
                                        </li>
                                        <li>Import meeting<span class="option_right">Allow</span></li>
                                        <li>Export meeting<span class="option_right">Allow</span></li>
                                        <li>Archive meeting<span class="option_right">Allow</span></li>
                                        <li>Unarchive meeting<span class="option_right">Allow</span>
                                        </li>
                                        <li>Delete meeting<span class="option_right">Allow</span></li>
                                        <li>Cancel meeting<span class="option_right">Allow</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Issues -->
                        <div class="card">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                <div class="card-header" id="headingThree">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-receipt"></i></span> Issues
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Issue Details <span class="option_right">Allow</span>
                                            <ul>
                                                <li>Issue task <span class="option_right">Add
                                                        Edit</span></li>
                                                <li>Issue planned start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Issue actual start/end date <span class="option_right">Edit</span>
                                                </li>
                                                <li>Issue Description <span class="option_right">Edit</span></li>
                                                <li>Issue Type <span class="option_right">Edit</span>
                                                </li>
                                                <li>Issue assignee <span class="option_right">Add
                                                        Delete</span></li>
                                        </li>
                                        <li>Add Custom fields <span class="option_right">Add Edit
                                                Delete</span></li>
                                        </li>

                                        <li>Issue comments/updates <span class="option_right">Allow</span></li>
                                        <ul>
                                            <li>Issue Attachment <span class="option_right">Add
                                                    Delete</span></li>
                                            <li>Add comments<span class="option_right">Add Edit
                                                    Delete</span></li>
                                            </li>
                                            <li>COnvert comment to task<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Show receipt<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Clear all replies<span class="option_right">Allow</span>
                                            </li>
                                            </li>
                                            <li>Clear reply<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>View attachment<span class="option_right">Allow</span>
                                            </li>
                                            </li>
                                            <li>Download attachment<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Reply later<span class="option_right">Allow</span></li>
                                            </li>
                                            <li>Reply<span class="option_right">Allow</span></li>
                                            </li>
                                        </ul>
                                        </li>
                                        <li>Issue Documents <span class="option_right">Allow</span></li>
                                        <ul>
                                            <li>Delete document<span class="option_right">Allow</span>
                                            </li>
                                            <li>Open folder<span class="option_right">Allow</span></li>
                                            <li>Rename folder<span class="option_right">Allow</span>
                                            </li>
                                            <li>View document<span class="option_right">Allow</span>
                                            </li>
                                            <li>Add folder<span class="option_right">Allow</span></li>
                                            <li>Upload document<span class="option_right">Allow</span>
                                            </li>
                                            <li>Download document<span class="option_right">Allow</span>
                                            </li>
                                        </ul>
                                        </li>
                                        <li>Issue name <span class="option_right">Edit</span></li>
                                        <li>Issue status <span class="option_right">Edit</span></li>
                                        <li>Issue priority <span class="option_right">Edit</span></li>
                                        <li>Issue severity <span class="option_right">Edit</span></li>
                                    </ul>
                                    </li>

                                    <li>Create issue <span class="option_right">Allow</span></li>
                                    <li>View all issues <span class="option_right">Allow</span></li>
                                    <li>Import issues <span class="option_right">Allow</span></li>
                                    <li>Export issues <span class="option_right">Allow</span></li>
                                    <li>Archive issues <span class="option_right">Allow</span></li>
                                    <li>Unarchive issues <span class="option_right">Allow</span></li>
                                    <li>Delete issues <span class="option_right">Allow</span></li>
                                    <li>Set color <span class="option_right">Allow</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Timesheet -->
                        <div class="card">
                            <button class="btn btn-link collapsed" style="text-decoration-style: none;"
                                data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                <div class="card-header" id="headingThree">
                                    <div class="text-left">
                                        <span class="bg-gradient-primary text-white round_icon"><i
                                                class="fa fa-fw fa-clock"></i></span> Timesheet
                                        <span class="option_right"><i class="fa fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </button>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Add task <span class="option_right">Allow</span></li>
                                        <li>Add time entry <span class="option_right">Allow</span></li>
                                        <li>Delete time entry <span class="option_right">Allow</span>
                                        </li>
                                        <li>Delete timesheet <span class="option_right">Allow</span>
                                        </li>
                                        <li>Sunmit timesheet for approval <span class="option_right">Allow</span>
                                        </li>
                                        <li>send timesheet <span class="option_right">Allow</span></li>
                                        <li>Add notes <span class="option_right">Allow</span></li>
                                        <li>Accept timesheet <span class="option_right">Allow</span>
                                        </li>
                                        <li>Reject timesheet <span class="option_right">Allow</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}